.FormStyle {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

.RowForm {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormStyle .InputStyle {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.FormStyle .TitleStyle {
  width: 80%;
}

.LineDecoration {
  width: 50%;
  height: 1px;
  background-color: #000;
}

.HelperMark {
  margin-left: 10px;
}

.HelperMark:hover {
  cursor: pointer;
}